nav {
    background-color: white;
}

#navbarSupportedContent a:hover {
    color: olive;
}

section {
    /* height: 30em; */
    padding-top: 20vh;
    padding-bottom: 20vh;
}

section h2 {
    padding-bottom: 1em;
}

#hero {
    padding-top: 40vh;
    text-align: left;
}

#contact div {
    text-align: left;
}

.row,
.col-sm,
.col-md {
    margin-bottom: 1em;
}

.col-md .row a {
    color: white;
}

form input,footer input,
button {
    height: 3em;
    border-radius: 10px 10px;
    border: 1.5px solid gray;
}

textarea {
    border-radius: 10px 10px;
    border: 1.5px solid gray;
}

#about .card,
#contact .card {
    border: none;
}

.secondary-btn {
    border: 1px solid rgb(148, 138, 138);
    border-radius: 15px 15px;
    height: 3em;
    width: 100%;
    color: black;
}

.primary-btn {
    color: white;
    background-color: olive;
    border: 1px grey;
    border-radius: 15px 15px;
    height: 3em;
    width: 100%
}
.primary-btn:disabled{
    background-color: rgb(219, 219, 158);
}

a {
    text-decoration: none;
    color: white;
}